extends layout

block content
	div(id="content")
		h1 Users

		div(id="flash")= flash

		div(id="login-users")
				
			form(action="/user/updateUsers" method="post")
				table
					th Username
					th Update Password
					th Active

						each user, i in users
							tr(class="login-row")
									td
										label(class="login-username")= user.username 
										input(type="hidden" name=user.username + "[username]" value="#{user.username}")
									td
										input(type="text" name=user.username + "[password]" class="login-password")
									td
										if (user.pending === true)
											input(type="checkbox" name=user.username + "[active]" class="login-active")
										else
											input(type="checkbox" name=user.username + "[active]" class="login-active" checked)
					
				input(type="submit" value="Update")